@using InventoryManagementApp.Presentation.Models.ViewModels.StockTransferVMs;

@{
    ViewData["Title"] = "GetAllStockTransfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<StockTransferListVM>

@if (TempData["error"] is not null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["error"]
    </div>
}

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom:16px">
            <a class="btn btn-success" asp-action="Create" asp-controller="StockTransfer">Add Stock Transfer</a>
        </div>
        <div class="table-responsive">
            <table class="table" id="example">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Good Code</th>
                        <th scope="col">Good Name</th>
                        <th scope="col">Batch Code</th>
                        <th scope="col">Date</th>
                        <th scope="col">Source Wh.</th>
                        <th scope="col">Destination Wh.</th>
                        <th scope="col">Amount</th>
                        <th class="text-center" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transfer in Model)
                    {
                        <tr>
                            <th scope="row">@transfer.ID</th>
                            <td>@transfer.GoodCode</td>
                            <td>@transfer.GoodName</td>
                            <td>@transfer.BatchCode</td>
                            <td>@transfer.CreatedDate.Value.ToShortDateString()</td>
                            <td>@transfer.SourceWarehouseName</td>
                            <td>@transfer.DestinationWarehouseName</td>
                            <td>@transfer.Amount</td>
                            <td class="text-center">
                                <a class="btn pt-0" asp-action="Details" asp-controller="StockTransfer" asp-route-id="@transfer.ID" asp-route-active=false type="button" data-toggle="popover" title="Details">
                                    <i class="fas fa-search" style="color: dodgerblue; font-size: 20px;"></i>
                                </a>
                                <a class="btn pt-0" asp-action="Reversed" asp-controller="StockTransfer" asp-route-stockTransferId="@transfer.ID" asp-route-active=false type="button" data-toggle="popover" title="Reverse">
                                    <i class="fas fa-undo" style="color:#ffd700;font-size:20px"></i>
                                </a>
                                <a class="btn pt-0" asp-action="CompleteTransfer" asp-controller="StockTransfer" asp-route-stockTransferId="@transfer.ID" type="button" data-toggle="popover" title="Complete">
                                    <i class="far fa-edit" style="color:coral;font-size:20px"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

