@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SupplierVM

<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h4 class="mb-4">Supplier Details</h4>
        <dl class="row mb-0">

            <dt class="col-sm-4 mb-2">ID</dt>
            <dd class="col-sm-8">@Model.ID</dd>

            <dt class="col-sm-4 mb-2">Supplier Name</dt>
            <dd class="col-sm-8">@Model.Name</dd>

            <dt class="col-sm-4 mb-2">Status</dt>
            <dd class="col-sm-8">@Model.Status</dd>

            <dt class="col-sm-4 mb-2">Contact</dt>
            <dd class="col-sm-8">@Model.Contact</dd>

            <dt class="col-sm-4 mb-2">City</dt>
            <dd class="col-sm-8">@Model.City</dd>

            <dt class="col-sm-4 mb-2">Address</dt>
            <dd class="col-sm-8">@Model.Address</dd>

            <dt class="col-sm-4 mb-2">Phone Number</dt>
            <dd class="col-sm-8">@Model.PhoneNumber</dd>

            <dt class="col-sm-4 mb-2">Email</dt>
            <dd class="col-sm-8">@Model.Email</dd>

            <dt class="col-sm-4 mb-2">WebPage</dt>
            <dd class="col-sm-8">@Model.WebPage</dd>

            <dt class="col-sm-4 mb-2">Created By</dt>
            <dd class="col-sm-8">@Model.CreatedBy</dd>

            <dt class="col-sm-4 mb-2">Created Date</dt>
            <dd class="col-sm-8">@Model.CreatedDate</dd>

            <dt class="col-sm-4 mb-2">Modified By</dt>
            <dd class="col-sm-8">@Model.ModifiedBy</dd>

            <dt class="col-sm-4 mb-2">Modified Date</dt>
            <dd class="col-sm-8">@Model.ModifiedDate</dd>

        </dl>
    </div>
</div>

