@using InventoryManagementApp.Domain.Enums;

@{
    ViewData["Title"] = "UpdateDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SupplierUpdateVM

<div class="form-floating mb-8 p-4">
    <div class="container-fluid pt-8 px-8">

        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h4 class="mb-4">Update Supplier</h4>
                <form method="post" asp-action="UpdateDetails" asp-controller="Supplier">
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Status</span>
                            </div>
                            <select class="form-select" asp-for="@Model.Status" asp-items="@Html.GetEnumSelectList<Status>()">
                                <option selected style="display:none">@Model.Status</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input type="text" class="form-control" asp-for=@Model.Name placeholder="Name" aria-label="NameOfSupplier">
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Contact</span>
                            </div>
                            <input type="text" class="form-control" asp-for="@Model.Contact" placeholder="Contact" aria-label="Contact">
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">City</span>
                            </div>
                            <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example" asp-for="@Model.City" asp-items="@Html.GetEnumSelectList<City>()">
                                <option selected>Choose City...</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Address</span>
                            </div>
                            <input type="text" class="form-control" asp-for="@Model.Address" placeholder="Address" aria-label="AddressOfSupplier">
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Phone</span>
                            </div>
                            <input type="text" class="form-control" asp-for="@Model.PhoneNumber" placeholder="PhoneNumber" aria-label="PhoneNumberOfSupplier">
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" class="form-control" asp-for="@Model.Email" placeholder="Email" aria-label="EmailOfSupplier">
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Web page</span>
                            </div>
                            <input type="text" class="form-control" asp-for="@Model.WebPage" placeholder="WebPage" aria-label="WebPageOfSupplier">
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3" id="design">
                            <a class="btn btn-danger mx-2 form-button" asp-controller="Supplier" asp-action="ListActive">Cancel</a>
                            <input type="submit" value="Save" class="btn btn-success mx-2 form-button" />
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

