@using InventoryManagementApp.Presentation.Models.ViewModels.ConversionVMs;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ConversionVM

<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h4 class="mb-4">Conversion Details</h4>
        <dl class="row mb-0">

            <dt class="col-sm-4">ID</dt>
            <dd class="col-sm-8">@Model.ID</dd>

            <dt class="col-sm-4">Good Name</dt>
            <dd class="col-sm-8">@ViewBag.goodName</dd>

            <dt class="col-sm-4">Status</dt>
            <dd class="col-sm-8">@Model.Status</dd>

            <dt class="col-sm-4 text-truncate">Base Good Amount</dt>
            <dd class="col-sm-8">@Model.BaseGoodAmount</dd>

            <dt class="col-sm-4 text-truncate">Base Unit</dt>
            <dd class="col-sm-8">@Model.BaseUnit</dd>

            <dt class="col-sm-4 text-truncate">Final Good Amount</dt>
            <dd class="col-sm-8">@Model.FinalGoodAmount</dd>

            <dt class="col-sm-4 text-truncate">Final Unit</dt>
            <dd class="col-sm-8">@Model.FinalUnit</dd>

            <dt class="col-sm-4 text-truncate">Created By</dt>
            <dd class="col-sm-8">@Model.CreatedBy</dd>

            <dt class="col-sm-4 text-truncate">Created Date</dt>
            <dd class="col-sm-8">@Model.CreatedDate</dd>

            <dt class="col-sm-4 text-truncate">Modified By</dt>
            <dd class="col-sm-8">@Model.ModifiedBy</dd>

            <dt class="col-sm-4 text-truncate">Modified Date</dt>
            <dd class="col-sm-8">@Model.ModifiedDate</dd>


        </dl>
    </div>
</div>

