@using InventoryManagementApp.Domain.Enums;
@using InventoryManagementApp.Presentation.Models.ViewModels.ModelVMs;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GoodCreateVM

@if (TempData["error"] is not null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["error"]
    </div>
}
<html>
<head>
    <style>
        #design {
            display: flex;
            align-items: center;
        }

        #floatingSelect-design {
            margin-right: 20px; /* İstenilen boşluğu ayarlayabilirsiniz */
        }

        .button {
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 18px;
            padding: 8px;
            width: 180px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }
    </style>
</head>
<body>
    <div class="form-floating mb-8 p-4">
        <div id="modalPlaceHolder" class="container-fluid pt-8 px-8">
            <div aria-hidden="true"></div>
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <h4 class="mb-4">Add Good</h4>
                    <form method="post" asp-action="Create" asp-controller="Good">
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3">
                                <input type="text" id="GoodName" class="form-control" asp-for=@Model.Name placeholder="Good Name" aria-label="GoodName">
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for=@Model.StockAmount placeholder="Stock Amount" aria-label="StockAmount">
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for=@Model.ReservedStock placeholder="Reserved Stock" aria-label="ReservedStock">
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3">
                                <select class="form-select" id="floatingSelect"
                                        aria-label="Floating label select example" asp-for="@Model.StockingUnit" asp-items="@Html.GetEnumSelectList<UnitType>()">
                                    <option selected>Choose Stock Unit...</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3">
                                <select class="form-select" id="floatingSelect"
                                        aria-label="Floating label select example" asp-for="@Model.ConsumptionUnit" asp-items="@Html.GetEnumSelectList<UnitType>()">
                                    <option selected>Choose Consumption Unit...</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for=@Model.MinStock placeholder="Minimum  Stock" aria-label="MinStock">
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for=@Model.TaxPercentage placeholder="Tax Percentage" aria-label="TaxPercentage">
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for=@Model.ListPrice placeholder="List Price" aria-label="ListPrice">
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for=@Model.Barcode placeholder="Barcode" aria-label="Barcode">
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for=@Model.GrossWeight placeholder="Gross Weight" aria-label="GrossWeight">
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for=@Model.NetWeight placeholder="Net Weight" aria-label="NetWeight">
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3" id="design">
                                <select class="form-select" id="floatingSelect-design" aria-label="Floating label select example" asp-for="@Model.CategoryID">
                                    <option selected value="">Select Category... </option>
                                    @if (Model.CategoryList != null)
                                    {
                                        @foreach (var item in Model.CategoryList)
                                        {
                                            <option value="@item.ID">@item.CategoryName</option>
                                        }
                                    }

                                </select>
                                <!-- Button trigger modal -->
                                <button class="button" style="vertical-align:middle" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    <span>
                                        Add Category
                                    </span>
                                </button>

                            </div>

                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3" id="design">
                                <select class="form-select" id="floatingSelect-design" aria-label="Floating label select example" asp-for="@Model.SubCategoryID">
                                    <option selected value="">Select SubCategory... </option>
                                    @if (Model.SubCategoryList != null)
                                    {
                                        @foreach (var item in Model.SubCategoryList)
                                        {
                                            <option value="@item.ID">@item.SubCategoryName</option>
                                        }
                                    }
                                </select>
                                <button class="button" style="vertical-align:middle" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropSubCategory">
                                    <span>
                                        Add SubCategory
                                    </span>
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3" id="design">
                                <select class="form-select" id="floatingSelect-design" aria-label="Floating label select example" asp-for="@Model.ModelID">
                                    <option selected value="0">Select Model... </option>
                                    @if (Model.CategoryList != null)
                                    {
                                        @foreach (var item in Model.BrandList)
                                        {
                                            <option value="@item.ID">@item.BrandName</option>
                                        }
                                    }
                                </select>
                                <button class="button" style="vertical-align:middle" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropBrand">
                                    <span>
                                        Add Brand
                                    </span>
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class="form-floating mb-6">
                            <div class="input-group mb-3" id="design">
                                <select class="form-select" id="floatingSelect-design" aria-label="Floating label select example" asp-for="@Model.BrandID">
                                    <option selected value="0">Select Brand... </option>
                                    @if (Model.CategoryList != null)
                                    {
                                        @foreach (var item in Model.ModelList)
                                        {
                                            <option value="@item.ID">@item.ModelName</option>
                                        }
                                    }
                                </select>
                                <button class="button" style="vertical-align:middle" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropModel">
                                    <span>
                                        Add Model
                                    </span>
                                </button>

                            </div>
                        </div>
                        <br />

                        <div class="form-floating mb-6">
                            <input type="submit" value="Add Good" class="btn btn-success" />
                        </div>
                        @*<button type="submit" class="btn btn-outline-success m-2" formaction="/Good/Create">Add Good</button>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</body>

</html>
@Html.Partial("_CategoryAddPartial",new CategoryCreateVM())
@Html.Partial("_ModelAddPartial",new ModelCreateVM())


<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        // Category seçiminde değişiklik olduğunda
        $('#floatingSelect-design-category').change(function () {
            var selectedCategoryID = $(this).val(); // Seçilen kategori ID'si

            // AJAX çağrısı ile subcategory verilerini al
            $.ajax({
                url: '/Good/GetSubcategories', // Subcategory verilerini döndüren Action metodunun URL'si
                type: 'GET',
                data: { categoryId: selectedCategoryID },
                success: function (data) {
                    // Başarılı bir şekilde veriler alındığında
                    var subCategorySelect = $('#floatingSelect-design-subCategory');
                    subCategorySelect.empty(); // Mevcut subcategoryleri temizle

                    // Yeni subcategory verilerini ekleyin
                    $.each(data, function (index, item) {
                        subCategorySelect.append($('<option>', {
                            value: item.SubCategoryID,
                            text: item.SubCategoryName
                        }));
                    });
                },
                error: function () {
                    console.error('Subcategory verileri alınamadı.');
                }
            });
        });
    });
</script>



<script>

    var inputValues = {};

    $(document).ready(function () {
        // Modal açıldığında input değerlerini saklayın
        $('#staticBackdrop').on('show.bs.modal', function () {
            console.log('Modal show event fired');
            // Input değerlerini sakla
            inputValues.goodName = $('#GoodName').val();
            inputValues.stockAmount = $('#StockAmount').val();
            // Diğer input alanlarını da aynı şekilde saklayabilirsiniz.
        });

        // Modal kapatıldığında input değerlerini geri yükleyin
        $('#staticBackdrop').on('hidden.bs.modal', function () {
            console.log($('#GoodName').val());
            // Input değerlerini geri yükle
            $('#GoodName').val(inputValues.goodName);
            $('#StockAmount').val(inputValues.stockAmount);
            // Diğer input alanlarını da aynı şekilde geri yükleyebilirsiniz.
        });
    });
</script>



