@using InventoryManagementApp.Presentation.Models.ViewModels.InventoryVMs;
@model List<InventoryListVM>

@if (TempData["error"] is not null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["error"]
    </div>
}


<table class="table" id="example">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Amount</th>
            <th scope="col">Good Name</th>
            <th scope="col">Warehouse Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inventory in Model)
        {
            <tr>
                <th scope="row">@inventory.ID</th>
                <td>@inventory.Amount</td>
                <td>@inventory.GoodName</td>
                <td>@inventory.WarehouseName</td>
            </tr>
        }
    </tbody>
</table>

<script>
    // DataTable'ı başlatma işlemi
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
