@using InventoryManagementApp.Presentation.Models.ViewModels.BrandVMs;
@using InventoryManagementApp.Presentation.Models.ViewModels.InventoryVMs;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InventoryCreateVM;

@if (TempData["error"] is not null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["error"]
    </div>
}

<div class="form-floating mb-8 p-4">
    <div id="modalPlaceHolder" class="container-fluid pt-8 px-8">
        <div aria-hidden="true"></div>
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h4 class="mb-4">Add Inventory</h4>
                <form method="post" asp-action="Create" asp-controller="Inventory">
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3" id="design">
                            <select class="form-select" id="categoryDropdown" aria-label="Good Name" asp-for="@Model.GoodId">
                                <option selected value="">Select Good... </option>
                                @if (ViewBag.Goods != null)
                                {
                                    @foreach (var item in ViewBag.Goods)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for=@Model.Amount placeholder="Enter Amount" aria-label="Supplier Model Code">
                            <input type="text" class="form-control" placeholder="Unit" value="" style="max-width:fit-content">
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3" id="design">
                            <select class="form-select" id="categoryDropdown" aria-label="Warehouse" asp-for="@Model.WarehouseId" asp-items="ViewBag.Warehouses">
                                <option selected value="">Select Warehouse... </option>
                                @if (ViewBag.Warehouses != null)
                                {
                                    @foreach (var item in ViewBag.Warehouses)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3" id="design">
                            <select class="form-select" id="categoryDropdown" aria-label="Shelf" asp-for="@Model.ShelfId" asp-items="ViewBag.Shelves">
                                <option selected value="">Select Shelf... </option>
                                @if (ViewBag.Shelves != null)
                                {
                                    @foreach (var item in ViewBag.Shelves)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3" id="design">
                            <a class="btn btn-danger mx-2 form-button" asp-controller="Good" asp-action="ListActive">Cancel</a>
                            <input type="submit" value="Save" class="btn btn-success mx-2 form-button" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





