@using InventoryManagementApp.Presentation.Models.ViewModels.BrandVMs;
@using InventoryManagementApp.Presentation.Models.ViewModels.InventoryVMs;


<head>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="~/dist/css/select2.min.css" rel="stylesheet" />
	<script src="~/dist/js/select2.min.js" defer></script>
	<style>
		.my-custom-select + .select2-container .select2-selection {
			height: 37.6px;
			border: 1px solid #ced4da;
		}

		.my-custom-select + .select2-container .select2-selection__rendered {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			height: 37.6px;
		}
	</style>
</head>


@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InventoryCreateVM;

@if (TempData["error"] is not null)
{
	<div class="alert alert-danger" role="alert">
		@TempData["error"]
	</div>
}


<div class="form-floating mb-8 p-4">
	<div id="modalPlaceHolder" class="container-fluid pt-8 px-8">
		<div aria-hidden="true"></div>
		<div class="col-sm-12 col-xl-12">
			<div class="bg-light rounded h-100 p-4">
				<h4 class="mb-4">Add Inventory</h4>
				<form method="post" asp-action="Create" asp-controller="Inventory">
					<div class="form-floating mb-6">
						<div class="input-group mb-3" id="design">
							<select class="form-select my-custom-select" style="width: 100%; height:300px" id="goodDropdown" aria-label="Good Name" asp-for="@Model.GoodId">
								<option selected value="">Select Good... </option>
								@if (ViewBag.Goods != null)
								{
									@foreach (var item in ViewBag.Goods)
									{
										<option value="@item.Value">@item.Text</option>
									}
								}
							</select>

						</div>
					</div>
					<br />
					<div class="form-floating mb-6">
						<div class="input-group mb-3">
							<input type="text" class="form-control" asp-for=@Model.Amount placeholder="Enter Amount" aria-label="Supplier Model Code">
							<input type="text" id="unitInput" class="form-control" style="margin-left:1rem" placeholder="Unit" aria-label="Unit" readonly>
						</div>
					</div>
					<br />
					<div class="form-floating mb-6">
						<div class="input-group mb-3" id="design">
							<select class="form-select my-custom-select " id="warehouseDropdown" aria-label="Warehouse" asp-for="@Model.WarehouseId" asp-items="ViewBag.Warehouses">
								<option selected value="">Select Warehouse... </option>
							</select>
						</div>
					</div>
					<br />
					<div class="form-floating mb-6">
						<div class="input-group mb-3">
							<input type="text" class="form-control col-6" asp-for=@Model.BatchCode aria-label="Batch Code" placeholder="Batch Code">

							<span style="margin-left:1rem" class="input-group-text">Expire Date</span>

							<input type="date" class="form-control" asp-for=@Model.BatchExpireDate placeholder="Expire Date" aria-label="Expire Date">
						</div>
					</div>
					@*  <br />
					<div class="form-floating mb-6">
					<div class="input-group mb-3">
					<div class="input-group-prepend">
					<span class="input-group-text">Expire Date</span>
					</div>
					<input type="date" class="form-control" style="border-radius: 0.25rem" asp-for=@Model.BatchExpireDate placeholder="Expire Date" aria-label="Expire Date">
					</div>
					</div>*@
					<br />
					<div class="form-floating mb-6">
						<div class="input-group mb-3" id="design">
							<a class="btn btn-danger mx-2 form-button" asp-controller="Inventory" asp-action="List">Cancel</a>
							<input type="submit" value="Save" class="btn btn-success mx-2 form-button" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>




<script>
	$(document).ready(function () {
		$('#goodDropdown').select2();
		$('#warehouseDropdown').select2();

		var $eventSelect = $('#goodDropdown');

		$eventSelect.on("change", function (e) {
			var selectedGood = this.value;
			getGoodUnit(selectedGood);
		});

		function getGoodUnit(goodId) {
			$.ajax({
				url: '/Inventory/GetGoodUnit',
				type: 'GET',
				data: { goodId: goodId },
				success: function (response) {
					document.getElementById('unitInput').value = response;
				},
				error: function (error) {
					console.error('Ürün birim bilgisini alma hatası:', error);
				}
			});
		}
	});
</script>




