@{
    ViewData["Title"] = "GetAllCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<CustomerListVM>

@if (TempData["error"] is not null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["error"]
    </div>
}

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom:16px">
            <a class="btn btn-success" asp-action="Create" asp-controller="Customer">Add Customer</a>
        </div>
        <div class="table-responsive">
            <table id="example" class="table pt-3" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"> Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Web Page</th>                 
                        <th class="text-center" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.ID</th>
                            <td>@item.Name</td>
                            <td>@item.Status</td>
                            <td>@item.Contact</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            <td>@item.WebPage</td>
                            <td class="text-center">
                                <a class="btn pt-0" asp-action="UpdateDetails" asp-controller="Customer" asp-route-id="@item.ID" type="button" data-toggle="popover" title="Update">
                                    <i class="far fa-edit" style="color:coral;font-size:20px"></i>
                                </a>
                                <a class="btn pt-0" asp-action="Details" asp-controller="Customer" asp-route-id="@item.ID" asp-route-active=true type="button" data-toggle="popover" title="Details">
                                    <i class="fas fa-search" style="color: dodgerblue; font-size: 20px;"></i>
                                </a>
                                <a class="btn pt-0" asp-action="Delete" asp-controller="Customer" asp-route-id="@item.ID" asp-route-active=false type="button" data-toggle="popover" title="Delete">
                                    <i class="far fa-trash-alt" style="color:red;font-size:20px"></i>
                                </a>
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
   </div>
</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
</script>


