@using InventoryManagementApp.Presentation.Models.ViewModels.CategoryVMs

@{
    ViewData["Title"] = "Categories List";
}

@model List<CategoryListVM>

@if (TempData["error"] is not null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["error"]
    </div>
}

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom:16px">
            <a class="btn btn-success" asp-action="Create" asp-controller="Category">Add Category</a>
        </div>
        <div class="table-responsive">
            <table class="table" id="example">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Description</th>
                        <th class="text-center" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <th scope="row">@category.ID</th>
                            <td>@category.CategoryName</td>
                            <td>@category.Status</td>
                            <td>@category.Description</td>
                            <td class="text-center">
                                <a class="btn pt-0" asp-action="UpdateDetails" asp-controller="Category" asp-route-id="@category.ID" type="button" data-toggle="popover" title="Update">
                                    <i class="far fa-edit" style="color:coral;font-size:20px"></i>
                                </a>
                                <a class="btn pt-0" data-id="@category.ID" id="addSubCategoryBtn" data-bs-toggle="modal" data-bs-target="#staticBackdropSubCategory" type="button" title="Add SubCategory">
                                    <i class="fas fa-layer-group" style="color: saddlebrown;font-size:20px"></i>
                                </a>
                                <a class="btn pt-0" asp-action="Details" asp-controller="Category" asp-route-id="@category.ID" asp-route-active=true type="button" data-toggle="popover" title="Details">
                                    <i class="fas fa-search" style="color: dodgerblue; font-size: 20px;"></i>
                                </a>
                                <a class="btn pt-0" asp-action="Delete" asp-controller="Category" asp-route-id="@category.ID" asp-route-active=false type="button" data-toggle="popover" title="Delete">
                                    <i class="far fa-trash-alt" style="color:red;font-size:20px"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal hide fade" id="staticBackdropSubCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New SubCategory</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("SubCategoryCreate",new CategoryUpdateVM())
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        $(document).ready(function () {
            $('#example').DataTable;
        });
    });

    var categoryId;
    $(document).on("click", "#addSubCategoryBtn", function () {
        categoryId = $(this).data('id')
    });

    $(document).on("click", "#createSubCategorySubmit", function () {
        $(".modal-body #categoryId").val(categoryId);
    })

</script>
